body {
    display: flex;
    background-color: pink;
    font-family: Arial, sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: black;
    margin-bottom: 20px;
}

button {
    color: black;
    background-color: hotpink;
    border: none;
    font: inherit;
    font-size: 14px;
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

input {
    font: inherit;
    border-radius: 5px;
    border: none;
    color: black;
    margin: 10px;
    padding: 5px 10px;
}